<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <style type="text/css">
        table{border-collapse:collapse;margin: 0 auto;width: 100%;}
        table,th,td{border:1px solid #ccc;padding:5px 10px;}
        th{background:#ddd}
        tr:hover td{background:#fbf8e9}
        .bbe td{background:#eee}
        .bbf td{background:#fff}
    </style>
</head>

<body>
<div>

    {{range $i, $v := .data}}
        <h3>{{.Date}} 数据</h3>
        <table>
            <thead>
            <tr>
                <th>序号</th>
                <th>链接列表</th>
            </tr>
            </thead>
            {{range $idx, $url := .Urls}}
                <tr>
                    <td>{{$idx}}</td>
                    <td><a href="{{$url}}">{{$url}}</a></td>
                </tr>
            {{end}}
        </table>
    {{end}}
</div>
</body>
</html>
